.visually-hidden {
  position: absolute !important;
  clip: rect(1px 1px 1px 1px);
  /* IE6, IE7 */
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0 !important;
  border: 0 !important;
  height: 1px !important;
  width: 1px !important;
  overflow: hidden;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
}

body {
  color: var(--main-titles-color);
  background-color: var(--background-main);
  font-family: Roboto, sans-serif;
  font-style: normal;
}

.section-title {
  color: var(--main-titles-color);
}

.description {
  color: var(--secondary-titles-color);
}

.list {
  list-style: none;
}

.link-underline {
  text-decoration: none;
}

img {
  display: block;
}

.container {
  width: 1200px;
  padding: 0 15px;
  margin: 0 auto;
}

.logo {
  color: #212121;
  font-family: Raleway, sans-serif;
  font-weight: bold;
  font-size: 26px;
  line-height: 1.2;
}

.logo-part {
  color: #2196f3;
}

.header {
  max-width: 1600px;
  margin-right: auto;
  margin-left: auto;
  background-color: #ffffff;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #ececec;
}

.header .container {
  display: flex;
  align-items: center;
  padding: 25px 15px;
}

.header .navigation {
  display: flex;
  align-items: center;
}

.header .logo {
  margin-right: 93px;
}

.header-list {
  display: flex;
}

.header-list .list-link {
  color: #212121;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
}

.header-list .list-link:hover, .header-list .list-link:focus {
  color: #2196f3;
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.header-list .active {
  position: relative;
  color: #2196f3;
}

.header-list .active::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -32px;
  width: 100%;
  height: 4px;
  background-color: #2196f3;
  border-radius: 2px;
}

.header .list-item {
  margin-right: 50px;
}

.header .list-item:last-child {
  margin-right: 0;
}

.header-address {
  display: flex;
}

.header-address .address-link {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #757575;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
}

.header-address .address-link:hover, .header-address .address-link:focus {
  color: #2196f3;
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.header-svg {
  margin-right: 10px;
  fill: #757575;
}

.address-link:hover .header-svg,
.address-link:focus .header-svg {
  fill: #2196f3;
  transition-property: fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.header .address {
  margin-left: auto;
}

.main-section {
  padding-top: 200px;
  padding-bottom: 200px;
  max-width: 1600px;
  margin-right: auto;
  margin-left: auto;
  background-color: #2f303a;
  background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/section-main/bg-img.jpg);
}

.main-section .container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.main-section .section-title {
  color: #ffffff;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.4;
  text-align: center;
  text-transform: uppercase;
}

.main-section .button {
  background-color: #2196f3;
  color: #ffffff;
  cursor: pointer;
  font-family: Roboto, sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 1.9;
  border: 1px solid transparent;
  border-radius: 4px;
  min-width: 200px;
  height: 50px;
  text-align: center;
  display: block;
  padding: 10px 32px;
  margin-top: 30px;
}

.qualities-section {
  padding-top: 94px;
  max-width: 1600px;
  margin-right: auto;
  margin-left: auto;
  background-color: #ffffff;
}

.qualities-section .qualities-list {
  display: flex;
}

.qualities-section .qualities-list .caption {
  color: #212121;
  font-weight: bold;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
}

.qualities-section .qualities-list .qualities-description {
  margin-top: 10px;
  color: #757575;
  font-size: 14px;
  line-height: 1.7;
}

.qualities-section .qualities-list .list-item:not(:last-child) {
  margin-right: 30px;
}

.qualities-section .qualities-list .list-item::before {
  content: "";
  display: block;
  height: 120px;
  background-color: #f5f4fa;
  margin-bottom: 30px;
}

.qualities-section .antenna::before {
  background-image: url(../images/svg/qualities/antenna.svg);
  background-repeat: no-repeat;
  background-position: center;
}

.qualities-section .clock::before {
  background-image: url(../images/svg/qualities/clock.svg);
  background-repeat: no-repeat;
  background-position: center;
}

.qualities-section .diagram::before {
  background-image: url(../images/svg/qualities/diagram.svg);
  background-repeat: no-repeat;
  background-position: center;
}

.qualities-section .astronaut::before {
  background-image: url(../images/svg/qualities/astronaut.svg);
  background-repeat: no-repeat;
  background-position: center;
}

.tasks-section {
  max-width: 1600px;
  padding-top: 94px;
  padding-bottom: 94px;
  margin-right: auto;
  margin-left: auto;
  background-color: #ffffff;
}

.tasks-section .tasks-title {
  color: #212121;
  font-weight: bold;
  font-size: 36px;
  line-height: 1.2;
  text-align: center;
}

.tasks-section .tasks-list {
  display: flex;
  margin-top: 50px;
}

.tasks-section .tasks-list .list-item {
  position: relative;
}

.tasks-section .tasks-list .list-item:not(:last-child) {
  margin-right: 30px;
}

.tasks-section .tasks-list .overlay {
  position: absolute;
  top: 224px;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 70px;
  background-color: rgba(47, 48, 58, 0.8);
}

.tasks-section .tasks-list .overlay-description {
  font-weight: bold;
  font-size: 14px;
  line-height: 1.1;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;
}

.team-section {
  max-width: 1600px;
  padding-top: 94px;
  padding-bottom: 94px;
  margin-right: auto;
  margin-left: auto;
  background-color: #f5f4fa;
}

.team-section .team-title {
  color: #212121;
  font-weight: bold;
  font-size: 36px;
  line-height: 1.2;
  text-align: center;
}

.team-section .team-list {
  display: flex;
  margin-top: 50px;
}

.team-section .team-list .team-item {
  background-color: #ffffff;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 1px rgba(0, 0, 0, 0.14), 0 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0 0 4px 4px;
}

.team-section .team-list .team-item:not(:last-child) {
  margin-right: 30px;
}

.team-section .team-list .caption {
  text-align: center;
  margin-top: 30px;
  color: #212121;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.2;
}

.team-section .team-list .description {
  text-align: center;
  margin-top: 10px;
  color: #757575;
  font-size: 16px;
  line-height: 1.2;
}

.team-socials {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 16px;
  margin-bottom: 30px;
}

.team-socials .social-logo {
  fill: #afb1b8;
}

.team-socials .list-item {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background-color: #ffffff;
}

.team-socials .list-item:not(:last-child) {
  margin-right: 10px;
}

.team-socials .social-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background-color: #ffffff;
}

.team-socials .social-link:hover {
  background-color: #2196f3;
  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.team-socials .social-link:hover .social-logo {
  fill: #ffffff;
  transition-property: fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.partners-section {
  max-width: 1600px;
  padding-top: 94px;
  padding-bottom: 94px;
  margin-right: auto;
  margin-left: auto;
  background-color: #ffffff;
}

.partners-list {
  display: flex;
  justify-content: space-between;
  max-width: 1600px;
  margin-top: 50px;
}

.partners-list .partners-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 170px;
  height: 90px;
  border: 1px solid #afb1b8;
  border-radius: 4px;
}

.partners-list .partners-link:hover .partner-logo,
.partners-list .partners-link:focus .partner-logo {
  fill: #2196f3;
  transition-property: fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.partners-list .partners-link:hover, .partners-list .partners-link:focus {
  border: 1px solid #2196f3;
  transition-property: border;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.partners-title {
  color: #212121;
  font-weight: bold;
  font-size: 36px;
  line-height: 1.2;
  text-align: center;
  letter-spacing: 0.03em;
}

.partners-item {
  border-style: none;
}

.partner-logo {
  fill: #afb1b8;
}

.footer {
  max-width: 1600px;
  padding-top: 60px;
  padding-bottom: 60px;
  margin-right: auto;
  margin-left: auto;
  background-color: #2f303a;
}

.footer .container {
  display: flex;
  align-items: center;
}

.footer .logo {
  color: #ffffff;
  font-family: Raleway, sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 26px;
  line-height: 1.2;
}

.footer .address {
  margin-top: 20px;
}

.footer .list-item {
  margin-top: 9px;
}

.footer-nav {
  margin-right: 70px;
}

.footer-list .location {
  color: #ffffff;
  font-style: normal;
  font-size: 14px;
  line-height: 1.7;
}

.footer-list .mail,
.footer-list .phone-number {
  color: #757575;
  font-style: normal;
  font-size: 14px;
  line-height: 1.7;
}

.footer-links .caption {
  color: #ffffff;
  font-weight: bold;
  font-size: 14px;
  line-height: 1.2;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.footer-links .links-list {
  display: flex;
  justify-content: space-between;
}

.footer-links .links-list {
  margin-top: 20px;
}

.footer-links .links-items:not(:last-child) {
  margin-right: 10px;
}

.footer-links .links {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.1);
}

.footer-links .link-logo {
  fill: #afb1b8;
}

.footer-links .links:hover,
.footer-links .links:focus {
  background-color: #2196f3;
  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-form {
  margin-left: auto;
}

.footer-form .subscribe-form {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-end;
  margin-left: auto;
}

.footer-form .form-label {
  font-weight: bold;
  font-size: 14px;
  line-height: 1.2;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;
}

.footer-form .form-label {
  font-weight: bold;
  font-size: 14px;
  line-height: 1.2;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;
}

.footer-form .subscriber-mail {
  display: block;
  width: 358px;
  height: 50px;
  margin-top: 20px;
  padding: 15px;
  font-size: 12px;
  line-height: 1.2;
  letter-spacing: 0.01em;
  color: #ffffff;
  background-color: transparent;
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
}

.footer-form .subscriber-mail::placeholder {
  font-size: 16px;
  line-height: 1.3;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}

.footer-form .subscriber-mail:focus {
  outline: none;
  background: transparent;
}

.footer-form .subscribe-btn-submit {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 12px;
  width: 200px;
  height: 50px;
  cursor: pointer;
  background: #2196f3;
  border: transparent;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  color: #ffffff;
  font-weight: bold;
  font-size: 16px;
  line-height: 1.9;
  letter-spacing: 0.06em;
}

.footer-form .subscribe-btn-submit::after {
  content: "";
  display: inline-block;
  margin-left: 6px;
  align-self: center;
  width: 24px;
  height: 24px;
  background-image: url(../images/svg/subscribe.svg);
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size: contain;
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  transform: scale(1);
  transition-property: transform;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
  transform: scale(0);
}

/*.modal-container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100%;
  padding: 15px;
}*/
.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: block;
  min-height: 581px;
  min-width: 528px;
  padding: 40px;
  background-color: #ffffff;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 1px rgba(0, 0, 0, 0.14), 0 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
}

.modal-cloze {
  position: absolute;
  top: 8px;
  right: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 30px;
  background-color: #ffffff;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50px;
}

.icon-cloze:hover {
  fill: #2196f3;
  transition-property: fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-form {
  display: flex;
  flex-direction: column;
}

.modal-form .comment {
  display: block;
  width: 100%;
  height: 120px;
  margin-top: 4px;
  padding: 12px 16px;
  resize: none;
  border: 1px solid rgba(33, 33, 33, 0.2);
}

.modal-form .comment::placeholder {
  font-size: 12px;
  line-height: 1.2;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.modal-form .comment:focus {
  outline: none;
  border: 1px solid #2196f3;
  transition-property: border;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-form .button-container {
  display: flex;
  justify-content: center;
}

.form-title {
  margin-bottom: 12px;
  font-weight: bold;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
}

.form-input {
  display: block;
  width: 100%;
  height: 40px;
  padding-top: 11px;
  padding-bottom: 11px;
  padding-left: 42px;
  margin-top: 4px;
  font-size: 12px;
  line-height: 1.2;
  letter-spacing: 0.01em;
  color: #212121;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
}

.form-input:focus {
  outline: none;
  border: 1px solid #2196f3;
  transition-property: border;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.form-label {
  position: relative;
  font-weight: normal;
  font-size: 12px;
  line-height: 1.2;
  letter-spacing: 0.01em;
  color: #757575;
}

.form-label:not(:first-child) {
  margin-top: 10px;
}

.label-policy {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
  color: #757575;
}

.label-policy::before {
  content: "";
  display: inline-block;
  width: 16px;
  height: 15px;
  margin-right: 7px;
  border: 2px solid black;
}

.policy-link {
  text-decoration-skip-ink: none;
  color: #2196f3;
}

.form-btn-submit {
  display: block;
  text-align: center;
  cursor: pointer;
  padding: 10px 56px;
  margin-top: 30px;
  min-width: 200px;
  height: 50px;
  background-color: #2196f3;
  color: #ffffff;
  font-family: Roboto, sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 1.9;
  border: 1px solid transparent;
  border-radius: 4px;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.15);
}

.modal-svg {
  position: absolute;
  fill: #212121;
  left: 12px;
  bottom: 14px;
}

.form-input:focus + .modal-svg {
  fill: #2196f3;
  transition-property: fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.checkbox-policy:checked + .label-policy::before {
  background-color: #2196f3;
  background-image: url(../images/svg/check.svg);
  background-repeat: no-repeat;
  background-position: 50% 50%;
  border: transparent;
}
/*# sourceMappingURL=main.css.map */