/*!!!!!!!!!!!svg!!!!!!!*/
/*header*/
.header-svg {
  fill: var(--address);
}
.header-address .address-link:hover .header-svg,
.header-address .address-link:focus .header-svg {
  fill: var(--svg-accent);
  transition-property: fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

/*footer*/
.footer-links .link-logo {
  fill: var(--svg-main);
}

.footer-links .links:hover,
.footer-links .links:focus {
  background-color: var(--interactive-elements);
  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

/*team section*/
