/*
pallete
text:
main color - color: #212121;
secondary color - color: #757575;
back colors:
white - #FFFFFF;
dark - #2F303A;
grey - #F5F4FA;
interactive elements: #2196F3 ;
hover/focus - #F5F4FA;
address - #757575;

*/
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
}

:root {
  --main-titles-color: #212121;
  --secondary-titles-color: #757575;
  --third-title-color: #ffffff;
  --background-main: #ffffff;
  --dark-background: #2f303a;
  --grey-background: #f5f4fa;
  --interactive-elements: #2196f3;
  --address: #757575;
  --svg-main: #afb1b8;
  --svg-modal: #212121;
  --svg-secondary: #ffffff;
  --svg-bgc: #ffffff 10%;
  --svg-accent: #2196f3;
  --borders: #afb1b8;
  --borders-accent: #2196f3;
}
/*=======!!!!!!global styles!!!!!!=======*/
body {
  color: var(--main-titles-color);
  background-color: var(--background-main);

  font-family: Roboto, sans-serif;
  font-style: normal;
}
.section-title {
  color: var(--main-titles-color);
}
.description {
  color: var(--secondary-titles-color);
}
.visually-hidden {
  position: absolute !important;
  clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0 !important;
  border: 0 !important;
  height: 1px !important;
  width: 1px !important;
  overflow: hidden;
}

/*=======обнуление встроенных стилей для списков/ссылок===========*/
.list {
  list-style: none;
}
.link-underline {
  text-decoration: none;
}
img {
  display: block;
}
/*logo*/
.logo {
  color: var(--main-titles-color);

  font-family: Raleway, sans-serif;

  font-weight: bold;
  font-size: 26px;
  line-height: 1.2;
}
.logo-part {
  color: var(--interactive-elements);
}

/*main*/
/*main-section*/
.main-section {
  background-color: var(--dark-background);
  background-image: linear-gradient(
      to right,
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url(../images/section-main/bg-img.jpg);
}
.main-section .section-title {
  color: var(--third-title-color);

  font-weight: 900;
  font-size: 44px;
  line-height: 1.4;
  text-align: center;
  text-transform: uppercase;
}
.main-section .button {
  background-color: var(--interactive-elements);
  color: var(--third-title-color);
  cursor: pointer;

  font-family: Roboto, sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 1.9;

  border: 1px solid transparent;
  border-radius: 4px;

  min-width: 200px;
  height: 50px;

  text-align: center;
  display: block;

  padding: 10px 32px;
  margin-top: 30px;
}
/*qualities section*/
.qualities-section {
  background-color: var(--background-main);
}

.qualities-list .list-item::before {
  content: "";
  display: block;

  height: 120px;
  background-color: var(--grey-background);
  margin-bottom: 30px;
}
.antenna::before {
  background-image: url(../images/svg/qualities/antenna.svg);

  background-repeat: no-repeat;
  background-position: center;
}
.clock::before {
  background-image: url(../images/svg/qualities/clock.svg);

  background-repeat: no-repeat;
  background-position: center;
}
.diagram::before {
  background-image: url(../images/svg/qualities/diagram.svg);

  background-repeat: no-repeat;
  background-position: center;
}
.astronaut::before {
  background-image: url(../images/svg/qualities/astronaut.svg);

  background-repeat: no-repeat;
  background-position: center;
}
.qualities-list .caption {
  color: var(--main-titles-color);

  font-weight: bold;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
}
.qualities-list .qualities-description {
  color: var(--secondary-titles-color);

  font-size: 14px;
  line-height: 1.7;
}
/*tasks section*/

.tasks-section {
  background-color: var(--background-main);
}
.tasks-title {
  color: var(--main-titles-color);

  font-weight: bold;
  font-size: 36px;
  line-height: 1.2;
  text-align: center;
}
.tasks-list .list-item {
  position: relative;
}
.tasks-list .overlay {
  position: absolute;

  top: 224px;
  left: 0;

  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 70px;
  background-color: rgba(47, 48, 58, 0.8);
}
.tasks-list .overlay-description {
  font-weight: bold;
  font-size: 14px;
  line-height: 1.1;

  letter-spacing: 0.03em;
  text-transform: uppercase;

  color: var(--third-title-color);
}

/*team section*/

.team-section {
  background-color: var(--grey-background);
  padding-bottom: 94px;
}
.team-list .team-item {
  background-color: var(--background-main);
}
.team-title {
  color: var(--main-titles-color);

  font-weight: bold;
  font-size: 36px;
  line-height: 1.2;
  text-align: center;
}
.team-section .caption {
  color: var(--main-titles-color);

  font-weight: 500;
  font-size: 16px;
  line-height: 1.2;
}
.team-section .description {
  color: var(--secondary-titles-color);

  font-size: 16px;
  line-height: 1.2;
}
.team-list .team-item {
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 1px rgba(0, 0, 0, 0.14),
    0 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0 0 4px 4px;
}

/*partners-section*/
.partners-section {
  background-color: var(--background-main);
}

.partners-title {
  color: var(--main-titles-color);

  font-weight: bold;
  font-size: 36px;
  line-height: 1.2;
  text-align: center;
  letter-spacing: 0.03em;
}
.partners-item {
  border-style: none;
}
.partners-link {
  border: 1px solid var(--borders);
  border-radius: 4px;
}

/****portfolio color/text decoration****/

/* ======   filter   ======== */
.portfolio-main {
  background-color: var(--background-main);

  padding-top: 100px;
  padding-bottom: 94px;
}
.filter-list .filter-button {
  background-color: var(--grey-background);
  color: var(--main-titles-color);

  border-radius: 4px;
  border: 1px solid transparent;

  padding: 6px 22px;

  font-family: Roboto, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.6;

  text-align: center;
  letter-spacing: 0.03em;
}
.filter-list .filter-button:hover,
.filter-button:focus {
  color: var(--third-title-color);
  background-color: var(--interactive-elements);
  transition-property: background-color, color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

/* ===== gallery ===== */
.portfolio-gallery .list-item {
  background-color: var(--background-main);

  max-width: 370px;
  border: 1px solid #eeeeee;
}
.portfolio-gallery .list-item:hover {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);

  transition-property: box-shadow;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.portfolio-gallery .gallery-subtitle {
  color: var(--main-titles-color);

  font-weight: bold;
  font-size: 18px;
  line-height: 2;

  letter-spacing: 0.06em;
}
.portfolio-gallery .gallery-description {
  color: var(--secondary-titles-color);

  font-size: 16px;
  line-height: 1.8;

  letter-spacing: 0.03em;
}
/*gallery overlay*/

.portfolio-gallery .card {
  position: relative;
  overflow: hidden;
}
.card .overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  transform: translateY(100%);
  padding: 63px 24px;

  pointer-events: none;
  background-color: rgba(33, 150, 243, 0.9);
  transition-property: transform;
  transition-duration: 350ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

  opacity: 0;
}
.card .overlay-description {
  font-size: 18px;
  line-height: 1.6;
  letter-spacing: 0.03em;

  color: var(--third-title-color);
}

.portfolio-gallery .list-item:hover .overlay {
  transform: translateY(0);

  opacity: 1;

  pointer-events: auto;
}

/* --------------------content directions ------------------*/

/* === main === */
/*common*/
.container {
  width: 1200px;
  padding: 0 15px;
  margin: 0 auto;
}

/*===========main================*/

/*section with button*/
.main-section {
  padding-top: 200px;
  padding-bottom: 200px;
  max-width: 1600px;
  margin-right: auto;
  margin-left: auto;
}
.main-section .container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/*section our qualities*/
.qualities-section {
  padding-top: 94px;
  max-width: 1600px;
  margin-right: auto;
  margin-left: auto;
}

.qualities-section .qualities-list {
  display: flex;
}
/*.qualities-section .list-item {
  margin-top: 94px;}*/

.qualities-section .list-item:not(:last-child) {
  margin-right: 30px;
}

.qualities-section .qualities-description {
  margin-top: 10px;
}

/*section our tasks*/
.tasks-section {
  max-width: 1600px;
  padding-top: 94px;
  padding-bottom: 94px;
  margin-right: auto;
  margin-left: auto;
}
.tasks-section .tasks-list {
  display: flex;
}

.tasks-section .tasks-list {
  margin-top: 50px;
}
.tasks-section .list-item:not(:last-child) {
  margin-right: 30px;
}

/*section our team*/

.team-section {
  max-width: 1600px;
  padding-top: 94px;
  padding-bottom: 94px;
  margin-right: auto;
  margin-left: auto;
}
.team-section .team-list {
  display: flex;
}

.team-section .team-list {
  margin-top: 50px;
}

.team-list .team-item:not(:last-child) {
  margin-right: 30px;
}
.team-section .caption {
  text-align: center;

  margin-top: 30px;
}
.team-section .description {
  text-align: center;

  margin-top: 10px;
}
.team-section .team-socials {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 16px;
  margin-bottom: 30px;
}
.team-socials .list-item {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background-color: var(--background-main);
}
.team-socials .social-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background-color: var(--background-main);
}
.team-socials .list-item:not(:last-child) {
  margin-right: 10px;
}
/*===partners  section ====*/
.partners-section {
  max-width: 1600px;
  padding-top: 94px;
  padding-bottom: 94px;
  margin-right: auto;
  margin-left: auto;
}
.partners-list {
  display: flex;
  justify-content: space-between;
  max-width: 1600px;
  margin-top: 50px;
}
.partners-list .partners-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 170px;
  height: 90px;
}

/*==========PORTFOLIO ITEMS DIRECTION=======*/
.portfolio-main {
  max-width: 1600px;
  margin-right: auto;
  margin-left: auto;
}
.portfolio-main .filter-list {
  display: flex;
  justify-content: center;
  align-items: center;
}
.filter-list .list-item:not(:last-child) {
  margin-right: 30px;
}

.portfolio-main .portfolio-gallery {
  display: flex;
  flex-wrap: wrap;

  margin-top: 56px;
}
.portfolio-gallery .list-item {
  padding-bottom: 20px;
}

.portfolio-gallery .list-item:not(:nth-child(3n)) {
  margin-right: 30px;
}

.portfolio-gallery .list-item:nth-child(n + 4) {
  margin-top: 30px;
}
.portfolio-gallery .gallery-subtitle {
  margin-top: 20px;
  margin-left: 24px;
}
.portfolio-gallery .gallery-description {
  margin-top: 4px;
  margin-left: 24px;
}

/*!!!!!!!!!!!svg!!!!!!!*/
/*header*/
.header-svg {
  fill: var(--address);
}
.header-address .address-link:hover .header-svg,
.header-address .address-link:focus .header-svg {
  fill: var(--svg-accent);
  transition-property: fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

/* partner section*/
.partner-logo {
  fill: var(--svg-main);
}
.partners-link:hover .partner-logo,
.partners-link:focus .partner-logo {
  fill: var(--svg-accent);
  transition-property: fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.partners-link:hover,
.partners-link:focus {
  border: 1px solid var(--borders-accent);
  transition-property: border;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

/*footer*/
.footer-links .link-logo {
  fill: var(--svg-main);
}

.footer-links .links:hover,
.footer-links .links:focus {
  background-color: var(--interactive-elements);
  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

/*team section*/

.team-socials .social-logo {
  fill: var(--svg-main);
}
.team-socials .social-link:hover {
  background-color: var(--interactive-elements);
  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.social-link:hover .social-logo {
  fill: var(--svg-secondary);
  transition-property: fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
