.footer {
  max-width: 1600px;
  padding-top: 60px;
  padding-bottom: 60px;
  margin-right: auto;
  margin-left: auto;

  background-color: $dark-background;

  .container {
    display: flex;
    align-items: center;
  }

  .logo {
    color: $third-title-color;

    font-family: Raleway, sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 26px;
    line-height: 1.2;
  }

  .address {
    margin-top: 20px;
  }
  .list-item {
    margin-top: 9px;
  }
  &-nav {
    margin-right: 70px;
  }
  &-list {
    .location {
      color: $third-title-color;

      font-style: normal;
      font-size: 14px;
      line-height: 1.7;
    }
    .mail,
    .phone-number {
      color: $address;

      font-style: normal;
      font-size: 14px;
      line-height: 1.7;
    }
  }
  &-links {
    .caption {
      color: $third-title-color;

      font-weight: bold;
      font-size: 14px;
      line-height: 1.2;
      letter-spacing: 0.03em;
      text-transform: uppercase;
    }

    .links-list {
      display: flex;
      justify-content: space-between;
    }
    .links-list {
      margin-top: 20px;
    }
    .links-items:not(:last-child) {
      margin-right: 10px;
    }
    .links {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 44px;
      height: 44px;
      border-radius: 50%;
      background-color: rgba(255, 255, 255, 0.1);
    }
    .link-logo {
      fill: $svg-main;
    }

    .links:hover,
    .links:focus {
      background-color: $interactive-elements;
      transition-property: background-color;
      transition-duration: 250ms;
      transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    }
  }
}

@import "../components/footer-form";
