.partners-section {
  max-width: 1600px;
  padding-top: 94px;
  padding-bottom: 94px;
  margin-right: auto;
  margin-left: auto;

  background-color: $background-main;
}
.partners-list {
  display: flex;
  justify-content: space-between;
  max-width: 1600px;
  margin-top: 50px;

  .partners-link {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 170px;
    height: 90px;
    border: 1px solid $borders;
    border-radius: 4px;

    &:hover .partner-logo,
    &:focus .partner-logo {
      fill: $svg-accent;
      transition-property: fill;
      transition-duration: 250ms;
      transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    }
    &:hover,
    &:focus {
      border: 1px solid $borders-accent;
      transition-property: border;
      transition-duration: 250ms;
      transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    }
  }
}
.partners-title {
  color: $main-titles-color;

  font-weight: bold;
  font-size: 36px;
  line-height: 1.2;
  text-align: center;
  letter-spacing: 0.03em;
}
.partners-item {
  border-style: none;
}

.partner-logo {
  fill: $svg-main;
}
