.qualities-section {
  padding-top: 94px;
  max-width: 1600px;
  margin-right: auto;
  margin-left: auto;

  background-color: $background-main;

  .qualities-list {
    display: flex;

    .caption {
      color: $main-titles-color;

      font-weight: bold;
      font-size: 14px;
      line-height: 1.14;
      text-transform: uppercase;
    }
    .qualities-description {
      margin-top: 10px;

      color: $secondary-titles-color;

      font-size: 14px;
      line-height: 1.7;
    }
    .list-item:not(:last-child) {
      margin-right: 30px;
    }

    .list-item::before {
      content: "";
      display: block;

      height: 120px;
      background-color: $grey-background;
      margin-bottom: 30px;
    }
  }
  .antenna::before {
    background-image: url(../images/svg/qualities/antenna.svg);

    background-repeat: no-repeat;
    background-position: center;
  }
  .clock::before {
    background-image: url(../images/svg/qualities/clock.svg);

    background-repeat: no-repeat;
    background-position: center;
  }
  .diagram::before {
    background-image: url(../images/svg/qualities/diagram.svg);

    background-repeat: no-repeat;
    background-position: center;
  }
  .astronaut::before {
    background-image: url(../images/svg/qualities/astronaut.svg);

    background-repeat: no-repeat;
    background-position: center;
  }
}
