.header {
  .navigation {
    display: flex;
    align-items: center;
  }
  .logo {
    margin-right: 93px;
  }
  &-list {
    display: flex;

    & .list-link {
      color: $main-titles-color;

      font-weight: 500;
      font-size: 14px;
      line-height: 1.14;

      &:hover,
      &:focus {
        color: $interactive-elements;
        transition-property: color;
        transition-duration: 250ms;
        transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
      }
    }
    & .active {
      position: relative;
      color: $interactive-elements;

      &::after {
        content: "";
        position: absolute;
        left: 0;
        bottom: -32px;
        width: 100%;
        height: 4px;
        background-color: $interactive-elements;
        border-radius: 2px;
      }
    }
  }
  .list-item {
    margin-right: 50px;
  }
  .list-item:last-child {
    margin-right: 0;
  }
}
