.header {
  &-address {
    display: flex;

    & .address-link {
      display: flex;
      align-items: center;
      justify-content: center;

      color: $address;

      font-style: normal;
      font-weight: 500;
      font-size: 14px;
      line-height: 1.14;

      &:hover,
      &:focus .header-svg {
        fill: $svg-accent;
        transition-property: fill;
        transition-duration: 250ms;
        transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
      }
      &:hover,
      &:focus {
        color: $interactive-elements;
        transition-property: color;
        transition-duration: 250ms;
        transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
      }
    }
  }
  &-svg {
    margin-right: 10px;
    fill: $address;
  }
  .address {
    margin-left: auto;
  }
}
