.main-section .button {
  background-color: $interactive-elements;
  color: $third-title-color;
  cursor: pointer;

  font-family: Roboto, sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 1.9;

  border: 1px solid transparent;
  border-radius: 4px;

  min-width: 200px;
  height: 50px;

  text-align: center;
  display: block;

  padding: 10px 32px;
  margin-top: 30px;
}
