.team-socials .social-logo {
  fill: var(--svg-main);
}
.team-socials .social-link:hover {
  background-color: var(--interactive-elements);
  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.social-link:hover .social-logo {
  fill: var(--svg-secondary);
  transition-property: fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.team-section .team-socials {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 16px;
  margin-bottom: 30px;
}
.team-socials .list-item {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background-color: var(--background-main);
}
.team-socials .social-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background-color: var(--background-main);
}
.team-socials .list-item:not(:last-child) {
  margin-right: 10px;
}
