*,
*::before,
*::after {
  margin: 0;
  padding: 0;
}
body {
  color: var(--main-titles-color);
  background-color: var(--background-main);

  font-family: Roboto, sans-serif;
  font-style: normal;
}
.section-title {
  color: var(--main-titles-color);
}
.description {
  color: var(--secondary-titles-color);
}
.list {
  list-style: none;
}
.link-underline {
  text-decoration: none;
}
img {
  display: block;
}
.container {
  width: 1200px;
  padding: 0 15px;
  margin: 0 auto;
}
